# Text files, PDF files, Word docs
*.txt
*.pdf
*.docx
*.doc

# Byte-compiled
*.py[cod]

# Distribution / packaging
MANIFEST

# Flask stuff
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
